
 <hr class="m-0" />

 <div class="text-center py-4 align-items-center">
   <p>Follow us on:</p>
   <a href="#" class="btn btn-info text-white " role="button"
     rel="nofollow" target="_blank">
     <i class="fab fa-youtube"></i>
   </a>
   <a href="#" class="btn btn-info text-white" role="button" rel="nofollow"
     target="_blank">
     <i class="fab fa-facebook-f"></i>
   </a>
   <a href="#" class="btn btn-info text-white" role="button" rel="nofollow"
     target="_blank">
     <i class="fab fa-twitter"></i>
   </a>
   <a href="#" class="btn btn-info text-white" role="button" rel="nofollow"
     target="_blank">
     <i class="fab fa-github"></i>
   </a>
 </div>

 <!-- Copyright -->
 <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
   &copy; 2021 Copyright:
   <a class="text-dark" href="#">blogger.com</a>
 </div>
 <!-- Copyright -->
</footer>
</body>
</html>