<%- include("partials/header") %>

<!-- <div>
  <a href="/products">Get Start</a>
</div> -->


<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

<!-- navbar -->
<div class="navbar">
  
  <li class="navbar__link "><a href="/products" class="navbar__link--item navbar__link--item--left">Home</a></li>
  <li class="navbar__link"><a href="/" class="navbar__link--item navbar__link--item--left">About</a></li>
  <li class="navbar__link"><a href="/" class="navbar__link--item navbar__link--item--left">Blogs</a></li>
  <li class="navbar__link"><a href="#" class="navbar__link--item navbar__link--item--left">Contact</a></li>
</div>

<!-- hero -->
<div class="hero">
  <div class="hero__content">
    <a id="button" style=" margin-left: 20px;" href="/products">See your progress!</a>
   
    <hr />
    

    <div class="social">
      <i class='bx bxl-github '></i>
      <i class='bx bxl-codepen'></i>
      <i class='bx bxl-linkedin-square'></i>
      <i class='bx bxl-twitter'></i>
    </div>
  </div>
  <div class="hero__img">
    <img style="width: 650px; height: 600px; cursor: default;" src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20190531175841/Full-Stack-Web-Developer.png" alt="astronut">
  </div>
</div>
